<div class="video-background">
  <video autoplay muted loop>
    <source
      src="https://videos.pexels.com/video-files/3578982/3578982-uhd_2560_1440_30fps.mp4"
      type="video/mp4"
    />
    Your browser does not support HTML5 video.
  </video>

  <div class="content">
    <div class="profile">
      <img src="assets/dp.jpg" alt="Profile Picture" />
      <div class="text">
        <h1>&#64;littleguyadven</h1>
      </div>
    </div>

    <div class="links">
      <div class="free-links">
        <h2 class="section-title">Free Links</h2>
        <a href="https://www.reddit.com/user/JazzlikePlan6628/" class="link">
          <img src="assets/reddit-logo.png" alt="Reddit" /> Reddit
        </a>
        <a href="https://www.instagram.com/littleguyadven_/" class="link">
          <img src="assets/instagram-logo.png" alt="Instagram" /> Instagram
        </a>
        <a href="https://www.redgifs.com/users/jetreddanger" class="link">
          <img src="assets/redgifs-logo.png" alt="Redgifs" /> Redgifs
        </a>
        <a href="https://fikfap.com/user/littleguyadven" class="link">
          <img src="assets/fikfap-logo.jpg" alt="fikfap" /> FikFap
        </a>
        <a href="https://x.com/littleguyadven" class="link">
          <img src="assets/X-logo.jpg" alt="X" /> X
        </a>
      </div>

      <div class="paid-links">
        <h2 class="section-title">Paid Links</h2>
        <a href="https://www.pornhub.com/model/sinchan25" class="link">
          <img src="assets/pornhub-logo.png" alt="PornHub" /> PornHub
        </a>
        <a href="https://onlyfans.com/littleguyadven" class="link">
          <img src="assets/onlyfans-logo.png" alt="OnlyFans" /> OnlyFans
        </a>
        <a href="https://fansly.com/littleguyadven/posts" class="link">
          <img src="assets/fansly-logo.png" alt="Fansly" /> Fansly
        </a>
        <a
          href="https://www.manyvids.com/Activity/little-guy-adventure/1009510365/club"
          class="link"
        >
          <img src="assets/manyvids-logo.png" alt="ManyVids" /> ManyVids
        </a>
      </div>
    </div>
  </div>
</div>

<div class="mobile-background">
  <div class="content">
    <div class="container">
      <div class="profile">
        <img src="assets/dp.jpg" alt="Profile Picture" />
        <h1>&#64;littleguyadven</h1>
      </div>
      <div class="social-icons">
        <a href="https://www.instagram.com/littleguyadven_/"
          ><img src="assets/instagram-logo.png" alt="Instagram"
        /></a>
        <a href="https://x.com/littleguyadven"
          ><img src="assets/X-logo.jpg" alt="X"
        /></a>
        <a href="https://www.redgifs.com/users/jetreddanger"
          ><img src="assets/redgifs-logo.png" alt="Redgifs"
        /></a>
        <a href="https://www.reddit.com/user/JazzlikePlan6628/"
          ><img src="assets/reddit-logo.png" alt="Reddit"
        /></a>
        <a href="https://fikfap.com/user/littleguyadven"
          ><img src="assets/fikfap-logo.jpg" alt="fikfap"
        /></a>
      </div>
      <div class="links">
        <a href="https://www.pornhub.com/model/sinchan25" class="link">
          <img src="assets/pornhub-logo.png" alt="ManyVids" /> PornHub
        </a>
        <a href="https://onlyfans.com/littleguyadven" class="link">
          <img src="assets/onlyfans-logo.png" alt="OnlyFans" /> OnlyFans
        </a>
        <a href="https://fansly.com/littleguyadven/posts" class="link">
          <img src="assets/fansly-logo.png" alt="Fansly" /> Fansly
        </a>
        <a
          href="https://www.manyvids.com/Activity/little-guy-adventure/1009510365/club"
          class="link"
        >
          <img src="assets/manyvids-logo.png" alt="ManyVids" /> ManyVids
        </a>
      </div>
    </div>
  </div>
</div>
