.profile
  display: flex
  justify-content: center
  align-items: space-between
  width: 50%
  margin: 10px auto
  img
    width: 100px
    height: 100px
    border-radius: 50%

.links
  width: 70%
  height: 100vh
  margin: auto
  display: flex
  flex-direction: column
  justify-contents: center
  align-items: center

  img
    width: 50px
    height: 50px
    border-radius: 50%
