<div class="profile">
  <img src="assets/dp.jpg" alt="Profile Picture" />
  <div class="text">
    <h1>&#64;littleguyadven</h1>
    <p>Little Guy</p>
  </div>
</div>

<div class="links">
  <a href="#" class="link">
    <img src="assets/onlyfans-logo.png" alt="OnlyFans" /> OnlyFans
  </a>
  <a href="#" class="link">
    <img src="assets/fansly-logo.png" alt="Fansly" /> Fansly
  </a>
  <a href="#" class="link">
    <img src="assets/pornhub-logo.png" alt="ManyVids" /> PornHub
  </a>
  <a href="#" class="link">
    <img src="assets/X-logo.jpg" alt="X" /> X
  </a>
  <a href="#" class="link">
    <img src="assets/manyvids-logo.png" alt="ManyVids" /> ManyVids
  </a>
  <a href="#" class="link">
    <img src="assets/redgifs-logo.png" alt="Redgifs" /> Redgifs
  </a>
  <a href="#" class="link">
    <img src="assets/instagram-logo.png" alt="Instagram" /> Instagram
  </a>
</div>
