.video-background
  width: 100%
  height: 100%
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  z-index: -1
  video
    width: 100%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  .content
    position: relative
    z-index: 1
    text-align: center
    padding: 20px
    display: flex
    width: 50%
    margin: auto
    flex-direction: column
    justify-content: center
    align-items: center
    h1
      color: white
      font-weight: bold
      margin: 8px auto
    p
      font-size: 1.2em

    .profile
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 60%
      margin: auto
      img
        width: 100px
        height: 100px
        border-radius: 50%

    .link
      display: flex
      align-items: center
      justify-content: center
      width: 320px
      padding: 15px
      font-size: 18px
      font-weight: bold
      color: white
      text-decoration: none
      border: 2px solid white
      border-radius: 50px
      transition: 0.3s ease-in-out
      background: rgba(255, 255, 255, 0.1)
      margin: 5px auto
      position: relative
      &:hover
        background: white
        transform: scale(1.05)
        color: Black

      img
        width: 25px
        height: 25px
        margin-right: 10px
        border-radius: 5px

.mobile-background
  display: none

@media (max-width: 768px) 
  .video-background
    display: none
  .mobile-background
    display: block
    .container
      text-align: center
      background: #8FDDE7
      padding: 20px
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
      height: 90vh

    .profile
      img
        width: 80px
        height: 80px
        border-radius: 50%
        object-fit: cover

      h1
        font-size: 22px
        margin: 10px 0

    .social-icons
      display: flex
      justify-content: center
      gap: 10px
      margin-bottom: 20px

      img
        width: 40px
        height: 40px

    .links a
      display: flex
      align-items: center
      justify-content: center
      gap: 10px
      background: white
      color: black
      text-decoration: none
      padding: 12px
      margin: 10px 0
      border-radius: 25px
      font-weight: bold
      transition: 0.3s
      text-align: center
      border: solid 2px #FBE5C8
      &:hover
        background: #B6E5D8
        transform: scale(1.05)
      /* Ensure consistent width
      img
        width: 30px
        height: 30px
        margin-right: 10px
        border-radius: 5px

